@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .std-menu-link {
    @apply text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200 py-1;
  }

  .btn-outline-yellow {
    @apply border-2 border-yellow-600 rounded-lg px-3 py-2 !text-yellow-400 cursor-pointer hover:bg-yellow-700 hover:text-yellow-200;
  }

  .btn {
    @apply px-3 py-2 text-white transition-colors duration-150 rounded-lg cursor-pointer;
  }

  .btn-primary {
    @apply bg-green-600 hover:bg-green-500;
  }

  .btn-new {
    @apply bg-emerald-600 hover:bg-emerald-500;
  }

  .btn-default {
    @apply bg-gray-600 hover:bg-gray-500 dark:bg-gray-200 dark:hover:bg-gray-300 dark:text-gray-800;
  }

  .btn.disabled {
    @apply cursor-not-allowed bg-gray-600 dark:bg-gray-200 dark:text-gray-500;
  }

  /* Inputs */
  .input-wrapper {
    @apply flex items-center space-x-2 rounded-md bg-stone-100 p-2;
  }

  .basic-input {
    @apply border-none bg-stone-100 text-gray-900 focus:!outline-none flex-grow !outline-none focus:ring-2 focus:ring-green-700 rounded-md focus:ring-offset-1 w-full p-2 placeholder:text-transparent pt-6;
  }

  .basic-input-l {
    @apply border-none bg-stone-100 text-gray-900 focus:!outline-none flex-grow !outline-none  focus:ring-transparent rounded-l-md focus:ring-offset-1 w-full placeholder:text-transparent pt-6;
  }

  .basic-submit-r {
    @apply px-3 py-2 text-white transition-colors duration-150 rounded-r-lg cursor-pointer;
  }

  .basic-select {
    @apply border-none bg-stone-100 text-gray-900 focus:!outline-none flex-grow !outline-none focus:ring-2 focus:ring-green-700 rounded-md focus:ring-offset-1 w-full p-2 pt-6
  }

  .basic-label {
    @apply absolute left-1 top-1 px-1 text-stone-700 duration-100 ease-linear;
  }

  /* tabs */

  .base-tab {
    @apply text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300;
  }

  .active-tab {
    @apply text-gray-600 border-gray-300 dark:text-gray-300;
  }
}
